.DS_Store
.idea/
themes/radar/assets/boot_animation/.DS_Store
themes/radar/assets/boot_animation/.DS_Store
themes/radar/assets/boot_animation/.DS_Store
themes/radar/assets/launch_payload_dialog/.DS_Store
themes/radar/components/.DS_Store
__pycache__/
*.pyc
